{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Assets | All Assets</title>

  {% include "headtags.html" %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    <!-- Theme style -->

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{% static 'dist/img/logo.png' %}" alt="My Assets Logo" height="60" width="60">
  </div>

  {% include "navbar.html" %}

 {% include "sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-10">
            <h1 class="m-0">All Assets</h1>
          </div><!-- /.col -->
          <div class="col-sm-2">
            <a href="{% url 'my_assets:add-asset' %}" class="btn btn-success float-sm-right">
              <i class="fa fa-plus"></i> Add New Asset</a>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <!-- <div class="row">
          search fields can come
          
        </div> -->
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-12">
            <!-- Database table-->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">My Organization Assets</h3>
              </div>
                
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead> <!-- Heading -->
                    <tr>
                      <th>Asset ID</th>
                      <th>Asset Name</th>
                      <th>Manufacturer</th>
                      <th>Category</th>
                      <th>Asset Status</th>
                      <th>Asset User</th>
                      <th>Location</th>
                      <th>Purchase Date</th>
                      <th>Warranty (months)</th>
                      <th>Last Repair</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for asset in assets %}
                    <tr>
                      <td><a href="{% url 'my_assets:show-qr' asset_rID=asset.relative_id %}">{{asset.relative_id}}</a></td>
                      <td>{{asset.name}}</td>
                      <td>{{asset.manufacturer}}
                      </td>
                      <td>{{asset.category}}</td>
                      <td>{{asset.status}}</td>
                      <td>{{asset.asset_user}}</td>
                      <td>{{asset.location}}</td>
                      <td>{{asset.purchase_date}}</td>
                      <td>{{asset.warranty}}</td>
                      <td>{{asset.last_repair}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                    
                  <tfoot>
                    <tr>
                      <th>Asset ID</th>
                      <th>Asset Name</th>
                      <th>Manufacturer</th>
                      <th>Category</th>
                      <th>Asset Status</th>
                      <th>Asset User</th>
                      <th>Location</th>
                      <th>Purchase Date</th>
                      <th>Warranty (months)</th>
                      <th>Last Repair</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->

        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
{% include "script_tags.html" %}
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
</body>
</html>
